@import "./color";

.categories-section {
    display: none;
    color: rgb(230, 230, 230);
    text-decoration: none;
  }

.categories-container{
    background-color: $primary;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.category {
    padding-left: 30%;
}
.category-link {
    list-style: none;
    text-decoration: none;
    color: white;
    padding-left: 30%;
    font-weight: bold;
  }

  .category-link:hover{
    color: $secondary;
  }
  

@media (max-width: 767.98px) { 
    .category-link {
        list-style: none;
        text-decoration: none;
        color: white;
        padding-left: 0;
      }

}
