@import "./color";

.author-box {
  opacity: 75%;
  border-radius: 5px;
}

.h-item {
  max-width: 100%;

}

.h-image {
  height: 100%;
}

.italic {
  font-style: italic;
}

.icon-item {
  height: 100px;
  width: 100px;
  margin-left: 10px;
}

.icon-image {
  height: 100%;
  width: 100%;
}

.siteBtn {
  margin-right: 10px;
  text-decoration: none;
  color: white;
  background-color: $primary;
  border-radius: 3px;
}

.siteBtn:hover {
  text-decoration: none;
  color: white;
  background-color: #7285a5;
  border-radius: 3px;
}

.s-companies {
  background-color: #cbd3e1;
}

.bc-item {
  height: 250px;
}

.bc-image {
  height: 100%;
  object-fit: cover;
}

.author-icons{
  margin-right: 5px;
  font-size: 20px;
  color: $primary;
}

.cursor-pointer {
  cursor: pointer;
}

.share-box {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.share-box.show {
  display: block;
}


.copy-button {
  background-color: $primary;
  color: #fff;
  border: none;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.copy-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 767.98px) {
  .icon-item {
    margin-left: 5px;
  }

  .siteBtn {
    margin-right: 10px;
  }

  h5{
    font-size: 2em;
  }

  .icon-item {
    height: 100px;
    width: 100px;
  }
  
  .icon-image {
    height: 100%;
    width: 100%;
  }
}

