@import "./post-card";
@import "./carousel";
@import "./categories";
@import "./footer";
@import "./post";
@import "./about";
@import "./cookies";
@import "./breadcrumbs";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Söhne", Open sans, sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

.listings {
  text-decoration: none;
  color: $primary;
}

