@import "./post-card";
@import "./carousel";
@import "./categories";

* {
    box-sizing: border-box;
    padding: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}